@use "../../app/variables";

.downloadCvButton {
    display: flex;
    gap: 2px;
    border-radius: 8px;
    padding: 1px 2px 0px 10px;
    background-image: var(--green-gradient);
    box-shadow: var(--navbar-shadow);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 34px;
    
    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }

    .downloadBtn {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 8px;
    }

    .downloadIcon {
        color: var(--primary-color);
        transition: color 0.3s ease;
        transform: scale(0.85);
    }

    .regularText {
        display: inline-block;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        font-size: clamp(1rem, 6vw, 1.2rem);
        line-height: 140%;
        color: var(--primary-color);
    }
}