# Node.js
frontend/node_modules/
frontend/npm-debug.log*
# frontend/package-lock.json

database/

# MacOS files
.DS_Store
frontend/.DS_Store

# ignore data backup
frontend/ProjectsData/projects-backup.json