@import "../../app/variables";

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 70px;
    /* border-bottom: 1px solid wheat; */
    background-color: #2E2E2E;

    .tab {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 100%;
        color: $text-color;
        text-decoration: none;
        min-width: 100px;
    }

    .tab:hover {
        color: $white;
    }

    .tab:active,
    .tab:focus {
        color: transparent;
        font-weight: 700;
        background-image: $green-gradient;
        background-clip: text;
    }

}