@import "../../app/variables";

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    height: 56px;
    width: 100%;
    background-color: $primary-color;
    z-index: 4;

    .tabs {
        position: relative;
        display: flex;
        gap: 10px;
      }

    .tab {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: clamp(1.2rem, 5vw, 1.5rem);
        line-height: 100%;
        color: $text-color;
        text-decoration: none;
        min-width: 100px;
        position: relative;
    }

    .tab:hover {
        color: $white;
    }

    .tab:active,
    .tab:focus {
        color: transparent;
        font-weight: 700;
        background-image: $green-gradient;
        background-clip: text;
    }

    .active {
        color: transparent;
        font-weight: 700;
        background-image: $green-gradient;
        background-clip: text;
    }
}

@media (min-width: 600px) {
    .navbar {
        height: 66px;
        gap: 20px;
    }
}