@import "../../app/variables";


.footer {
    background-image: $pink-gradient;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;

   
    .footerText {
        color: #63033a;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        font-size: clamp(1.4rem, 6vw, 2.2rem);
        line-height: 120%;
        text-align: left;
        opacity: 0.8;
    }

    .iconRight {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.8;
    }
}