@import "../../app/variables";

.underline {
    position: absolute;
    bottom: -8px;
    height: 4px;
    background-image: var(--green-gradient);
    // background-image: $green-gradient;
    pointer-events: none;
}