@import './variables';

.notyf {
    padding-top: 20px;

    &__toast {
        border-radius: 8px;
        max-width: 380px;

        &.custom-notification {
            padding: 12px 20px !important;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 3rem;
            font-weight: 300;
            border-radius: 8px !important;
            background-color: pink;

            // Success notification specific styles
            &.notyf__toast.notyf__toast--success {
                background-color: yellow !important;

                .notyf__message {
                    color: black;
                }
            }

            // Error notification specific styles
            &.--error {
                background-color: yellow !important;

                .notyf__message {
                    color: black;
                }
            }
        }
    }

    // Customize the wrapper that contains all notifications
    &__wrapper {
        padding: 0 20px;
    }

    // Style the message text
    &__message {
        font-size: 14px;
        line-height: 1.4;
    }
}