$primary-color: #2E2E2E;
$text-color: #D5D5D5;
$icon-color: #fff;
$pink-gradient: linearGradient(-70deg, #FFCC48, #FC7EFF);
$green-gradient: linearGradient(-70deg, #98FF48, #7EFFFF);

$main-font: "Roboto Condensed", sans-serif;

$main-shadow: 0px -8px 24px 0px rgba(0, 0, 0, 0.44);

$font-weights: (
    "regular": 200,
    "medium":400,
    "bold": 600
);

$media: (
    "small": 480px,
    "medium": 768px,
    "large": 1024px,
    "x-large": 1200px
);