@import "./_variables.scss";
@import 'notyf/notyf.min.css';

html,
body,
#root {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--primary-color);
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    scrollbar-width: none;
    scrollbar-color: #3e3e3e #3e3e3e;
    transition: background-color 0.2s ease, color 0.2s ease;
}


// Your custom Notyf styles
.notyf {
    padding-top: 20px !important;
}

.notyf__toast.custom-notification {
    padding: 0px 20px !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 300;
    font-size: 16px !important;
    border-radius: 8px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .notyf__wrapper {
        text-align: center;
    }
}

.notyf__message {
    color: #ffffff !important;
    font-size: 1.3rem;
}