// @import "../../app/globals.scss";
@import "../../app/variables";


.Drawer {
    position: absolute;
    top: 70px;
    background-color: $primary-color;
    min-height: 100vh;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 10;
    box-shadow: $main-shadow;
    border-radius: 30px 30px 0 0;

    .dragLine {
        background-color: #000;
        height: 4px;
        width: 50px;
    }

    .navIcons {
        display: flex;
        margin: 10px 0px;
        justify-content: space-between;
        width: 90%;

        .changePageFlex {
            display: flex;
            gap: 30px;
        }

        .navIcon {
            display: flex;
            background-color: rgb(76, 76, 76);
            height: 40px;
            width: 40px;
            justify-content: center;
            align-content: center;
            border-radius: 50%;
            padding: 4px;
            box-sizing: border-box;
        }

        .previousIcon {
            @extend .navIcon;
            transform: scale(-1, 1);
        } 

        .blankIcon {
            @extend .navIcon;
            opacity: 0;
        }
    }
}


.projectContentContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1000px;

    .title {
        @include title-style
    }

    .tagsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        gap:8px;
        margin: 10px auto

    }

    .tag{
        @include tag;
    }

    .description {
        @include paragraph;
    }

    .box {
        border: 1px solid white;
        color: white;
    }
}