// @import "../../app/globals.scss";
@import "../../app/variables";


.Drawer {
    position: absolute;
    top: 70px;
    background-color: $primary-color;
    min-height: 100vh;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 10;
    box-shadow: $main-shadow;
    border-radius: 30px 30px 0 0;

    .dragLine {
        background-color: #000;
        height: 4px;
        width: 50px;
    }

    .navIcons {
        display: flex;
        margin: 10px 0px;
        justify-content: space-between;
        width: 90%;

        .changePageFlex {
            display: flex;
            gap: 30px;
        }

        .navIcon {
            display: flex;
            background-color: rgb(76, 76, 76);
            height: 40px;
            width: 40px;
            justify-content: center;
            align-content: center;
            border-radius: 50%;
            padding: 4px;
            box-sizing: border-box;
        }

        .previousIcon {
            @extend .navIcon;
            transform: scale(-1, 1);
        }

        .blankIcon {
            @extend .navIcon;
            opacity: 0;
        }
    }
}

.projectContentContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 960px;
    margin: 0 40px;
    align-items: center;

    .title {
        @include title-style;
    }

    .tagsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        gap: 8px;
        margin: 10px auto
    }

    .tag {
        @include tag;
    }

    .description {
        @include paragraph;
    }

    .imagesContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px auto
    }

    .box {
        display: flex;
        flex-direction: column;
    }

    .projectImage {
        width: 100%;
    }

    .imageDescription {
        @include paragraph;
        line-height: 60%;
    }

    .videoDescription {
        @include paragraph;
        line-height: 60%;
    }

    .iframeContainer {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        /* 16:9 Aspect Ratio */
        height: 0;
        overflow: hidden;

        .projectVideo {
            all: unset;
            display: block;
            width: 100%;
            height: auto;
        }

    }

}