@import "./variables";

html,
body,
#root {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2E2E2E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: $main-font;
}

h1 {
    font-size: 2.2rem;
    line-height: 100%;
    color: coral;
}