@import "../../app/variables";

.NavbarYariv {
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 4;
    transition: background-color 0.2s ease, color 0.2s ease;
    transition: box-shadow 0.3s ease;

    &.shadow {
        box-shadow: var(--navbar-shadow);
    }

    .tabsFlex {
        position: relative;
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 3vw;

        .motionWrapper {
            display: contents; // Retain layout
            // display: inline-block;
            width: fit-content; // Shrinks to fit its content
        }

        .tab {
            position: relative;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 300;
            font-size: clamp(1.2rem, 3vw, 1.4rem);
            line-height: 100%;
            color: var(--text-color);
            text-decoration: none;
            min-width: 80px;
            padding: 2px 2px; // (up-down left-right)
            box-sizing: border-box;

            display: block;

            .tabText {
                user-select: none;
                z-index: 2;
                transition: opacity 0.2s ease;
            }

            .sparks {
                position: absolute;
                top: -10px;
                transform: scale(1.1);
                z-index: 1;
                pointer-events: none;
            }
        }

        .activeTab {
            font-weight: 700;
            background-image: var(--green-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        .underline {
            position: absolute;
            width: 100px;
            height: 2px;
            background-image: var(--green-gradient);
            bottom: 4px;
            border-radius: 2px;
            z-index: 0;
            pointer-events: none;
        }
    }
}