@use "../../app/variables";


.copyEmailComponent {

    display: flex;
    gap: 14px;
    align-items: center;

    .copyBtn {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: var(--about-btn);
        border-radius: 8px;
        cursor: pointer;
    }
    
    .email {
        display: inline-block;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        font-size: clamp(1rem, 5.8vw, 1.5rem);
        color: var(--white);
        background-clip: text;
        text-decoration: none;
    }
}