.Footer {
    display: flex;
    height: 54px;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 138, 139, 0.20);
}

.Footer p {
    color: #FD8A8B;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
}